image:
  repository: ghcr.io/siderolabs/talos-vmtoolsd
  tag: v0.6.1-2-gbe56ecd
  pullPolicy: Always

namespace: talos-vmtoolsd

vault:
  path: secret/internal/devops/vmtools
  type: Opaque

tolerations:
  - key: node.cloudprovider.kubernetes.io/uninitialized
    operator: Exists
    effect: NoSchedule
  - key: node-role.kubernetes.io/master
    operator: Exists
    effect: NoSchedule
  - key: node-role.kubernetes.io/control-plane
    operator: Exists
    effect: NoSchedule

resources:
  requests:
    memory: 8Mi
    cpu: 100m
  limits:
    memory: 64Mi
    cpu: 500m