{{- if .Values.restrictTalosVmtoolsdConfig }}
---
apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: restrict-talos-vmtoolsd-config
spec:
  background: false
  validationFailureAction: {{ .Values.restrictTalosVmtoolsdConfig.validationFailureAction }}
  rules:
    - name: block-secret-writes
      match:
        resources:
          kinds:
            - Secret
          namespaces:
            - talos-vmtoolsd
          names:
            - talos-vmtoolsd-config
        operations:
          - GET
          - LIST
          - WATCH
          - CREATE
          - UPDATE
          - DELETE
      exclude:
        subjects:
          - kind: ServiceAccount
            name: talos-vmtoolsd
            namespace: talos-vmtoolsd
          - kind: ServiceAccount
            name: vault-secrets-operator
            namespace: kube-system
      validate:
        message: "Only specific service accounts are allowed to access talos-vmtoolsd-config secret."
        deny: {}
{{- end }}