image:
  pullPolicy: IfNotPresent
  repository: registry.k8s.io/kube-proxy
  tag: v1.32.5
kubeProxy:
  clusterCidr: 10.111.0.0/17
  metricsBindAddress: 0.0.0.0:10249
  proxyMode: iptables
resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi
nodeSelector: {}
tolerations:
  - operator: Exists
    effect: NoSchedule
  - operator: Exists
    effect: NoExecute
